Repository Gulfaam/HRCMS-Back-End-V1, pull requests merged in 2023-04, with the labels that each got.

#32 Get single
  routes/Hierarchy/controllers.js
  routes/Hierarchy/index.js
  services/hierarchy.js
  validations/hierarchy.js
Labels: Hierarchy

#46 FEAT: all the APIs of permission module
  models/permission.js
  routes/Hierarchy/controllers.js
  routes/index.js
  routes/permission/controller.js
  routes/permission/index.js
  services/permission.js
  validations/permission.validation.js
Labels: Permission

#47 FEAT: All APIS of job modules
  models/job.js
  routes/index.js
  routes/job/controller.js
  routes/job/index.js
  services/job.js
  validations/job.validation.js
Labels: Job

#17 Feature/update performance
  routes/performance/controllers.js
  services/performance.js
  validations/performance.validation.js
Labels: Performance
